alias gitd='git diff'
alias gitl='git log'
alias gita='git add'
alias gitb='git branch'
alias gitc='git commit'
alias gits='git status -s'
alias gitca='git commit --amend'
alias gitck='git checkout'
alias gitu='git push'
alias gituo='git push origin'
alias gituom='git push origin master'
alias gituod='git push origin develop'
alias gitp='git pull'
alias gitpo='git pull origin'
alias gitpom='git pull origin master'
alias gitpod='git pull origin develop'
alias gitpom='git pull origin master'
alias gitri='git rebase -i'
alias gitst='git status'

alias l='ls -lah'
alias la='ls -lAh'
alias ll='ls -lh'

alias adbserver='/home/darth10/pymatter/android-sdk-linux/platform-tools/adb devices'
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

alias emx='emacsclient -t -a=""'
alias wsemx="SUDO_EDITOR=\"emacsclient -c -a emacs\" sudoedit"
alias semx="SUDO_EDITOR=\"emacsclient -t -a emacs\" sudoedit"
alias erc="emacs -q -e erc"
