[user]
	name = Akhil Wali
	email = akhil.wali.10@gmail.com
	signingkey = CBA0458B682A8544
[commit]
	gpgsign = true
[github]
	user = darth10
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
	navigate = true
	features = theme
[delta "theme"]
	dark = true
	syntax-theme = Nord
[merge]
    conflictstyle = diff3
[diff]
	colorMoved = default
