# Activate using:
# sudo cp ./wifi-resume.service /etc/systemd/system/
# sudo chmod a+rwx /etc/systemd/system/wifi-resume.service
# sudo systemctl enable wifi-resume.service

# Also, ensure resolved has the right systemd config
# sudo ln -fs /run/systemd/resolve/resolv.conf /etc/resolv.conf

[Unit]
Description=Restart networkmanager at resume
After=suspend.target
After=hibernate.target
After=hybrid-sleep.target

[Service]
Type=oneshot
ExecStart=/bin/systemctl restart systemd-resolved network-manager

[Install]
WantedBy=suspend.target
WantedBy=hibernate.target
WantedBy=hybrid-sleep.target
